# Loads default set of integrations. Do not remove.
default_config:

# Load frontend themes from the themes folder
frontend:
  themes: !include_dir_merge_named themes

automation: !include automations.yaml
script: !include scripts.yaml
scene: !include scenes.yaml

mqtt:
  sensor:
    - name: "DTE Energy Bridge"
      unique_id: dte_energy_bridge
      state_topic: "event/metering/summation/minute"
      unit_of_measurement: "W"
      value_template: "{{ value_json.value | round (0) }}"
    - name: "Instant Energy Use"
      unique_id: instant_energy_use
      state_topic: "event/metering/instantaneous_demand"
      unit_of_measurement: "W"
      value_template: "{{ value_json.demand | int }}"
      state_class: measurement

sensor:
  - platform: rest
    name: Eleven Labs Remaining Character Count
    resource: https://api.elevenlabs.io/v1/user/subscription
    headers:
      xi-api-key: !secret eleven_labs_api_key
    value_template: "{{ value_json.character_limit - value_json.character_count }}"
    scan_interval: 3600

template:
  - trigger:
      - platform: time
        at: "00:01:00"
      - platform: homeassistant
        event: start
    action:
      - service: calendar.get_events
        data:
          start_date_time: "{{ today_at() }}"
          end_date_time: "{{ today_at('23:59:00') }}"
        target:
          entity_id: calendar.birthdays
        response_variable: agenda
    binary_sensor:
      - name: Today Has Birthdays
        unique_id: today_has_birthdays_3490578
        state: |-
          {% set search_term = "Birthday" %}
          {{ agenda['calendar.birthdays'].events 
          | selectattr('summary', 'search', search_term) | list | count > 0 }}
  - trigger:
      - platform: time
        at: "00:01:00"
      - platform: homeassistant
        event: start
    action:
      - service: calendar.get_events
        data:
          start_date_time: "{{ today_at() }}"
          end_date_time: "{{ today_at('23:59:00') }}"
        target:
          entity_id: calendar.united_states_mi
        response_variable: agenda
    sensor:
      - name: Today's Holiday
        unique_id: todays_holidays_3487926
        state: |-
          {{ agenda['calendar.united_states_mi'].events[0].summary if agenda['calendar.united_states_mi'].events else 'none' }}
  - trigger:
      - platform: time
        at: "00:01:00"
      - platform: homeassistant
        event: start
    action:
      - service: calendar.get_events
        data:
          start_date_time: "{{ today_at() }}"
          end_date_time: "{{ today_at('23:59:00') }}"
        target:
          entity_id: calendar.events
        response_variable: agenda
    sensor:
      - name: Today's Events
        unique_id: todays_events_3487926
        state: |-
          {{ agenda['calendar.events'].events[0].summary if agenda['calendar.events'].events else 'none' }}

# https://github.com/claytonjn/hass-circadian_lighting
circadian_lighting:
  max_colortemp: 6500
  min_colortemp: 2500
  sunset_offset: -03:00:00

switch:
  - platform: circadian_lighting
    name: "Whole House Circadian Switch"
    lights_ct:
      - light.office_1
      - light.office_2
      - light.office_backlight
      - light.living_room_overhead_light
      - light.living_room_corner_light
      - light.basement_light_1
      - light.basement_light_2
      - light.bathroom_light_1
      - light.bathroom_light_2
      - light.bathroom_light_3
      - light.bathroom_light_4
      - light.furnace_room_light
      - light.bedroom_light_1
      - light.bedroom_light_2
